table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tbody:nth-child(even) {
  background-color:  #dddddd;
}
.table{
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .table{
    width:75%;
  }
}

@media screen and (max-width: 685px) {
  .table{
    width:90%;
  }
}